
        <section id="features" class="section section-feature-grey is-medium">
            <div class="container">
                <div class="title-wrapper has-text-centered">
                    <h2 class="title is-2">BulmaPlay</h2>
                    <h3 class="subtitle is-6 is-muted">
                    Open-Source, SQLite Database, SQLAlchemy ORM, Live Deploy
                    </h3>
                    <div class="divider is-centered"></div>
                </div>
        
                <div class="content-wrapper">
                    <div class="columns">
                        <div class="column is-one-third">
                            <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
                                <div class="card-title">
                                    <h4>Bulma CSS</h4>
                                </div>
                                <div class="card-icon">
                                    <img alt="AppSeed App Generator Logo." class="lazy" 
                                         data-src="/static/assets/images/illustrations/icons/mouse-globe.svg">
                                </div>
                                <div class="card-text">
                                    <p>
                                        CSS framework based on Flexbox and used by more than 150,000 developers.
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="https://bulma.io/" class="button btn-align-md accent-btn raised">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="feature-card is-bordered has-text-centered revealOnScroll delay-2" data-animation="fadeInLeft">
                                <div class="card-title">
                                    <h4>Flask</h4>
                                </div>
                                <div class="card-icon">
                                    <img class="lazy" data-src="/static/assets/images/illustrations/icons/laptop-cloud.svg">
                                </div>
                                <div class="card-text">
                                    <p>
                                        The popular microframework for Python, used to build web applications. 
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="http://flask.pocoo.org/" class="button btn-align-md secondary-btn raised">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="feature-card is-bordered has-text-centered revealOnScroll delay-3" data-animation="fadeInLeft">
                                <div class="card-title">
                                    <h4>Open-Source</h4>
                                </div>
                                <div class="card-icon">
                                    <img class="lazy" data-src="/static/assets/images/illustrations/icons/plug-cloud.svg">
                                </div>
                                <div class="card-text">
                                    <p>
                                        Released as an open-source app, for a better web. Coded by <a href="https://appseed.us">AppSeed</a> 
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="https://github.com/app-generator/flask-bulma-css" 
                                       class="button btn-align-md primary-btn raised">Get Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


