        <section id="cta" class="section section-feature-grey is-medium">
            <div class="container">
        
                <div class="columns">
                    <div class="column is-10 is-offset-1">
                        <div class="has-text-centered">
                            <img alt="BulmaPlay built with Bulma CSS." 
                                 class="pushed-image lazy"
                                 src="/static/assets/images/illustrations/mockups/bulma-css-app-mockup-low.png" 
                                 data-src="/static/assets/images/illustrations/mockups/bulma-css-app-mockup.png">
                        </div>
                    </div>
                </div>
        
                <div class="title-wrapper has-text-centered">
                    <h2 class="title is-2">Coding is fun</h2>
                    <h3 class="subtitle is-5 is-muted">Built with Bulma CSS and Flask</h3>
                </div>
        
                <p class="has-text-centered mt-20">
                    <a target="_blank" href="https://github.com/app-generator/flask-bulma-css" 
                       class="button cta is-large rounded secondary-btn raised">
                        Get Code
                    </a>
                </p>
            </div>
        </section>

