
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% if title %}    
        <title>{{ title }}</title>
    {% else %}
        <title>Flask Bulma CSS - BulmaPlay Open-Source App | AppSeed App Generator</title>
    {% endif %}

    {% if description %}    
        <meta name="description" content="{{ description }}">
    {% else %}
        <meta name="description" content="Open-Source starter coded in Flask and Bulma CSS, enhanced with authentication (login, logout), SQLite.">
    {% endif %}

    <link rel="icon" type="image/png" href="/static/assets/images/favicon.png" />

    <!--Core CSS -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/core.min.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

    <!--Libraries-->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/icons.css">

