        
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-5 is-offset-1 landing-caption">

                    <span> <strong>BulmaPlay</strong>, open-source app built with:</span>
                    <h1 class="title is-1 is-bold is-spaced">
                        Flask and Bulma CSS
                    </h1>
                    <h2 class="subtitle is-5 is-muted">
                        Read more about <a href="">Flask</a> and <a href="">Bulma</a>.
                    </h2>
                    <p>
                        <a target="_blank" href="https://github.com/app-generator/flask-bulma-css" class="button cta rounded primary-btn raised">
                            Get Code
                        </a>
                    </p>
                </div>
                <div class="column is-5 is-offset-1">
                    <figure class="image is-4by4">
                        <img  class="lazy"
                                src="/static/assets/images/absurd/flask-bulma-css-app-top-image-low.png"
                                data-src="/static/assets/images/absurd/flask-bulma-css-app-top-image.png" 
                                alt="Flask Bulma CSS App, Top Image.">
                    </figure>
                </div>

            </div>
        </div>
    </div>

    <div class="hero-foot mb-20">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li><a href="https://bulma.io/">
                                       <img alt="Flask Bulma App, Sample Partner Image 1."
                                            src="/static/assets/images/logos/absurd-01-low.png"  
                                            class="partner-logo lazy" data-src="/static/assets/images/logos/absurd-01.png"></a></li>

                    <li><a href="https://bulma.io/documentation/">
                                       <img alt="Flask Bulma App, Sample Partner Image 2."
                                            src="/static/assets/images/logos/absurd-04-low.png" 
                                            class="partner-logo lazy" data-src="/static/assets/images/logos/absurd-04.png"></a></li>

                    <li><a href="http://flask.pocoo.org/">
                                       <img alt="Flask Bulma App, Sample Partner Image 3."
                                            src="/static/assets/images/logos/absurd-02-low.png" 
                                            class="partner-logo lazy" data-src="/static/assets/images/logos/absurd-02.png"></a></li>

                    <li><a href="https://appseed.us/apps/bulma-css">
                                       <img alt="Flask Bulma App, Sample Partner Image 4."
                                            src="/static/assets/images/logos/absurd-03-low.png"  
                                            class="partner-logo lazy" data-src="/static/assets/images/logos/absurd-03.png"></a></li>


                    <li><a href="https://appseed.us/apps/flask-apps">
                                       <img alt="Flask Bulma App, Sample Partner Image 5."
                                            src="/static/assets/images/logos/absurd-05-low.png" 
                                            class="partner-logo lazy" data-src="/static/assets/images/logos/absurd-05.png"></a></li>
                </ul>
            </div>
        </div>
    </div>

