
        <section class="section is-medium">
            <div class="container">
                <div class="columns">
                    <div class="column is-centered-tablet-portrait">
                        <h2 class="title section-title">How to use it</h2>
                        <h3 class="subtitle is-4 is-muted">
                            Learn to build this amazing app in a few simple steps.
                        </h3>
                        <div class="divider"></div>
                    </div>
                    <div class="column is-8 mt-60">
        
                        <!-- icon block -->
                        <article class="media icon-box">
                            <figure class="media-left">
                                <p class="image">
                                    <img class="lazy" 
                                         data-src="/static/assets/images/illustrations/icons/laptop-globe.svg">
                                </p>
                            </figure>
                            <div class="media-content mt-50">
                                <div class="content">
                                    <p>
                                        <span class="icon-box-title">Get the code</span>
                                        <span class="icon-box-text">
                                            To build this app, you must be familiar working with the console and Python, Flask must be installed 
                                            on your system. 
                                        </span>
                                        <code>
                                            $ git clone https://github.com/app-generator/flask-bulma-css.git
                                        </code>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <!-- /icon block -->
        
                        <!-- icon block -->
                        <article class="media icon-box">
                            <figure class="media-left">
                                <p class="image">
                                    <img class="lazy" data-src="/static/assets/images/illustrations/icons/doc-sync.svg">
                                </p>
                            </figure>
                            <div class="media-content mt-50">
                                <div class="content">
                                    <p>
                                        <span class="icon-box-title">Add your magic</span>
                                        <span class="icon-box-text">
                                            This app has a small footprint makes the development a breeze. 
                                            The whole project is well documented, to help any developer to start fast.
                                            Access <a href="https://github.com/app-generator/flask-bulma-css/blob/master/README.md">here</a> the README file, 
                                            shipped with the sources.  
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <!-- /icon block -->
        
                        <!-- icon block -->
                        <article class="media icon-box">
                            <figure class="media-left">
                                <p class="image">
                                    <img class="lazy" data-src="/static/assets/images/illustrations/icons/mobile-feed.svg">
                                </p>
                            </figure>
                            <div class="media-content mt-50">
                                <div class="content">
                                    <p>
                                        <span class="icon-box-title">Deploy</span>
                                        <span class="icon-box-text">
                                            The project can be exported as a static app. Just type <code>$ python ./static.py</code> 
                                            and the whole praject become a blazing fast app. Read more about this app, on a dedicated blog article: <br /> 
                                            <a href="https://blog.appseed.us/bulmaplay-built-with-flask-and-bulma-css/">Adding Bulma CSS to Flask</a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <!-- /icon block -->
        
                    </div>
                </div>
            </div>
        </section>


