
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/jquery.lazy.min.js"></script>

    <script defer src="/static/assets/js/slick.min.js"></script> 
    <script defer src="/static/assets/js/scrollreveal.min.js"></script>
    <script defer src="/static/assets/js/jquery.waypoints.min.js"></script>
    <script defer src="/static/assets/js/jquery.waypoints-sticky.min.js"></script>
    <script defer src="/static/assets/js/jquery.counterup.min.js"></script>
    
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    
    <script src="/static/assets/js/app.js"></script>
