        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-header">
                <img src="/static/assets/images/logos/fresh-square.svg">
                <a class="sidebar-close" href="javascript:void(0);"><i data-feather="x"></i></a>
            </div>
            <div class="inner">
                <ul class="sidebar-menu">
                    <li><span class="nav-section-title"></span></li>
                    <li class="have-children"><a href="#"><span class="fa fa-info-circle"></span>About</a>
                        <ul>
                            <li><a target="_blank" href="https://github.com/app-generator/flask-bulma-css">Sources</a></li>
                            <li><a target="_blank" href="https://blog.appseed.us/bulmaplay-built-with-flask-and-bulma-css/">Blog Article</a></li>
                        </ul>
                    </li>
                    <li class="have-children"><a href="#"><span class="fa fa-cog"></span>Support</a>
                        <ul>
                            <li><a target="_blank" href="https://discord.gg/fZC6hup">Discord</a></li>
                            <li><a target="_blank" href="https://appseed.us/support">AppSeed</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>        


